# Ignore everything here
*

# except
!.gitignore
!.vimrc
!.xinitrc
!README

!.colors/
!.colors/ttz/
!.colors/ttz/**
!.vimperator/
!.vimperator/colors/
!.vimperator/colors/ttz.vimp
!.vimperator/.vimperratorrc
!.config/
!.config/**

